<div>
    <h2 id="page-heading">
        <span>Shares</span>

        <div class="col-md-4" style="float: right;">
            <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-share" [routerLink]="['/share/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span >
                Create new Share
                </span>
            </button>
        </div>

    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shares">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ticker"><span>Ticker</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="portfolio.id"><span>Portfolio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let share of shares ;trackBy: trackId">
                <td><a [routerLink]="['/share', share.id, 'view' ]">{{share.id}}</a></td>
                <td>{{share.ticker}}</td>
                <td>{{share.quantity}}</td>
                <td>
                    <div *ngIf="share.portfolio">
                        <a [routerLink]="['../portfolio', share.portfolio?.id, 'view' ]" >{{share.portfolio?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/share', share.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/share', share.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'share', { outlets: { popup: share.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
