<div>
    <h2 id="page-heading">
        <span>Portfolios</span>

        <div class="col-md-4" style="float: right;">
            <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-portfolio" [routerLink]="['/portfolio/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                    Create new Portfolio
                </span>
            </button>
            <button id="jh-transaction" class="btn btn-success jh-create-entity transaction" [routerLink]="['/transaction']">
                <span>
                    Transactions
                </span>
            </button>
        </div>

    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="portfolios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolio of portfolios ;trackBy: trackId">
                <td><a [routerLink]="['/portfolio', portfolio.id, 'view' ]">{{portfolio.id}}</a></td>
                <td>{{portfolio.name}}</td>
                <td>
                    {{portfolio.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/portfolio', portfolio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/portfolio', portfolio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'portfolio', { outlets: { popup: portfolio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
