<div class="modal-header">
    <h4 class="modal-title">Delete User Account</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="sellError">
                <strong>Input does not match!</strong>
            </div>
        </div>
        <div class="col-md-8">
            <form name="form" class="form" role="form" (ngSubmit)="buy()" #form="ngForm">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_ticker">To confirm deletion of this account,
                    please enter "DELETE" into the field below.</label>
                    <input type="text" class="form-control" name="ticker" id="field_ticker"
                           [(ngModel)]="share.ticker" required/>
                    <div [hidden]="!(form.controls.ticker?.dirty && form.controls.ticker?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!form.controls.ticker?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
        </div>
    </div>
</div>
