<div class="row">
    <div class="col-md-12">

        <div class="col-md-9" style="float: left" align="left">
            <h1 class="display-4">PaperStocks</h1>
            <p class="lead">Market Homepage</p>
        </div>

        <div class="col-md-3" style="float: right" align="right">
            <jhi-alert></jhi-alert>
            <div [ngSwitch]="isAuthenticated()" align="right">
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span>Don't have an account yet?</span>
                    <a class="alert-link" routerLink="register">Sign-up here!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="float: right" align="right">
        <code>Data updated at: {{lastUpdated}}</code>
        <button onClick="updateData()" class="btn btn-info btn-sm">
            <span>Refresh</span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <details open="" *ngFor="let category of defaultCategories">
            <div class="table-responsive" style="border: 3px dashed lightgray">
                <table class="table table-striped">
                    <thead>
                    <!--                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">-->
                    <!--                    <th jhiSortBy="id"><span>Last</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                    <!--                    <th jhiSortBy="ticker"><span>Change</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                    <!--                    <th jhiSortBy="quantity"><span>Change %</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                    <!--                    <th jhiSortBy="portfolio.id"><span>Market Cap</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                    <!--                    <th></th>-->
                    <!--                </tr>-->
                    <tr>
                        <th>{{category.name}}</th>
                        <th><span>Last</span></th>
                        <th><span>Change</span></th>
                        <th><span>Change %</span></th>
                        <th><span>Market Cap</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let symbol of category.symbols">
                        <td><a [href]="symbolUrl(symbol)" target="_blank">{{symbol}}</a></td>
                        <td>{{tickerTable[symbol]?.latestPrice}}</td>
                        <td>{{tickerTable[symbol]?.change}}</td>
                        <td>{{tickerTable[symbol]?.changePercent}}</td>
                        <td>{{tickerTable[symbol]?.marketCap}}</td>
                        <td class="text-right" *jhiHasAnyAuthority="'ROLE_USER'">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        (click)="buyShare(symbol)"
                                        class="btn btn-info btn-sm"
                                        style="background-color: #28a745">
<!--                                    <fa-icon [icon]="'eye'"></fa-icon>-->
                                    <span class="d-none d-md-inline">Buy</span>
                                </button>
                                <button type="submit"
                                        (click)="sellShare(symbol)"
                                        class="btn btn-primary btn-sm"
                                        style="background-color: #dc3545">
<!--                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
                                    <span class="d-none d-md-inline">Sell</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </details>
    </div>
</div>
